# Python cache
**/__pycache__/
*.py[cod]
*.pyo

# Test coverage
/htmlcov/
.coverage
.pytest_cache/

# Editor and environment
.vscode/
.env
.DS_Store

# Build artifacts
/build/
/dist/
/*.egg-info

# Excel files
**.xlsx

# Ignore logs and runtime files
*.log
*.pid

# Celery specific
celerybeat-schedule
celerybeat.pid
celery.log

# Project-specific folders/files
.log/
da_need/
sample/
return_code_sample.py
